<div class="row " style="background: linear-gradient(90deg, rgba(12, 132, 192, 0.9) 0%, rgb(8, 8, 204) 50%, rgba(209, 12, 209, 0.849) 100%); width: 100%;min-height:720px;" >
    <div class="container col-6" style="border: 5px solid #000000 ; border-radius: 10px;" *ngIf="skill">
<form (ngSubmit)="onEdit()" novalidate #f="ngForm">
    <div class="form-outline ">
        <label class="form-label" for="name">Nombrede la habilidad</label>
        <input type="text" id="name" class="form-control" name="name" [(ngModel)]="skill.name" required />
        
      </div>
      
      <div class="form-outline">
        <label class="form-label" for="porcent">Porcentaje de avance</label>
        <input type="number" id="porcent" class="form-control" name="porcent" [(ngModel)]="skill.porcent" required/>
        
      </div>
      
      
      <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
</form>
        
    </div>
</div>