.row{
    padding: 20px;
   background: linear-gradient(90deg, rgba(12, 132, 192, 0.9) 0%, rgb(8, 8, 204) 50%, rgba(209, 12, 209, 0.849) 100%); 

}
.personal{
    display: inline;
    text-align: left;

}
.contact{
    text-align: right;
    display: inline;
}